.raking-container {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
    margin-top: 80px;
    margin-bottom: 20px;
    
}

.raking-container .img-raking {
  background-color: #f8f9fc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #e3e6f0;
}
.raking-container .img-raking img {
    width: 116px;
    height: 145px;
  border-radius: 10px;
}

.raking-container .info-raking-container {
    width: 900px;
}

.raking-container .info-raking-container .nome {
  padding: 10px;
  padding-top: 15px;
  font-size: 28px;
  color: #858796;
  text-transform: uppercase;
  font-weight: 900;
  text-align: left;
}

.raking-container .info-raking-container .barra {
  background-color: #f8f9fc;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  border: 1px solid #e3e6f0;
  display: flex;
  justify-content: center;

}

  .raking-container .info-raking-container .barra .red {
    background-color: red;
    width: 25%;
    height: 85px;

  
  }
  .raking-container .info-raking-container .barra .green {
    background-color: greenyellow;
    width: 25%;
    height: 85px;

  
  }
  .raking-container .info-raking-container .barra .blue {
    background-color: blue;
    width: 25%;
    height: 85px;

  
  }
  .raking-container .info-raking-container .barra .yellow {
    background-color: yellow;
    width: 25%;
    height: 85px;

  
  }
