.history-container {
  font-family: Nunito, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  color: #858796;
  display: flex;
  justify-content: center;
  margin: 20px;
}

.history-container .cont-conteiner {
  background-color: #f8f9fc;
  width: 50%;
  padding: 40px;
  border-radius: 25px;
  border: 1px solid #e3e6f0;
}

.history-container .cont-conteiner .titulo-container {
  text-transform: uppercase;
  letter-spacing: 0.7px;
  font-size: 20px;
  font-weight: 900;
  padding: 10px;
  padding-bottom: 20px;
}

.history-container .cont-conteiner .texto-conatiner {
  text-align: justify;
}
